#contact-page {
    h4 {
        text-decoration: underline;
    }

    p {
        font-size: 15pt;
    }

    form {
        .input-field {
            .form-control, 
            .alert-danger {
                width: 250px;
            }
        }

        .btn-primary {
            font-size: 13.5pt;
            background-color: #664185;
            border-color: $synvisus-purple;
        }

        .btn-primary:hover {
            background-color: #462165;
        }

        .btn-primary:active {
            background-color: $synvisus-purple;
        }

        textarea {
            resize: both;
            max-width: $page-width;
        }
    }
}