$page-top-margin: 145px;
$page-width: 950px;
$font: 11pt 'Calibri', sans-serif;
$line-height: 1.428571429;
$h3-font: 18pt 'Helvetica Neue', Helvetica, Arial, sans-serif;
$h4-font: 13.5pt 'Helvetica Neue', Helvetica, Arial, sans-serif;

.toastr-center {
    top: calc(50% - 28px);
    left: calc(50% - 150px);
    margin: 0 auto;
}

h3 { font: $h3-font !important; }
h4 { font: $h4-font !important; }
p { margin: 0; }

h3.section-header {
    padding: 15px 0;
}
    
