header {
    position: fixed;
    top: 0;
    padding-top: 10px;
    width: 950px;
    background-color: $white;

    nav {
        padding-top: 50px;
        border-bottom: 1px solid $synvisus-purple;
        font-size: 13.5pt;

        & > a {
            margin: 5px 15px;
            padding: 10px 10px;
            color: $synvisus-purple;
            display: inline-block;
            width: 120px;
            text-align: center;
            text-decoration: none;
        }

        & > a:hover {
            background-color: $synvisus-purple;
            color: $light-gray;
        }

        & > a.active {
            font-weight: bold;
        }
    }
}