#home-page {
    #banner {
        height: 432px;
        width: $page-width;
        max-width: 100%;
    }

    #description {
        margin-top: 30px;

        .circle-block {
            @extend circle;
            background-color: $synvisus-gray;
            float: left;
            box-shadow: 3px 3px 5px 1px $shadow;
        }

        p {
            margin: 30px 0;
            float: left;
            font-size: 14pt;
            width: 575.1px;
            line-height: 29px;
        }
    }

    #additional-links {
        width: 100%;
        table {
            width: 100%;
        }

        .circle-block {
            @extend circle;
            background-color: $synvisus-purple;
            color: $white;
            box-shadow: 3px 3px 5px 1px $shadow;

            .circle-words {
                padding-top: 40px;
            }

            .circle-arrow {
                font-size: 30pt;
            }
        }

        .circle-block:hover {
            @extend circle;
            background-color: $synvisus-gray;
            color: $synvisus-purple;
            text-decoration: none;
        }

        .circle-block:active {
            box-shadow: inset 3px 3px 5px $shadow;
        }
    }

    .bold-label {
        font-size: 22pt;
    }

    circle {
        display: block;
        height: 200px;
        width: 200px;
        margin: 30px 58.3px;
        font-size: 22pt;
        text-align: center;
        border: 0;
        border-radius: 50%;
        text-decoration: none;
    }
}