#what-we-do-page {
    table {
        width: 100%;

        td {
            padding: 10px 35px 20px 35px;
        }

        td.what-words {
            width: 60%;
        }

        td.what-image {
            width: 40%;
        }
    }

    #forecasting-support,
    #operations-management {
        background-color: $light-gray;
    }
}