#what-we-do-page {
    p {
        font-size: 12pt;
    }

    table {
        width: 100%;

        td {
            padding: 10px 35px 20px 35px;
        }

        td.what-words {
            width: 60%;
        }

        td.what-image {
            width: 40%;
        }
    }

    #forecasting-support,
    #operations-management {
        background-color: $light-gray;
    }

    #forecasting-support-image {
        height: 275px;
        width: 235px;
        margin: 15px 0 5px 17px;
    }

    #software-development-image {
        height: 290px;
        width: 332px;
        margin-top: 15px;
    }

    #operations-management-image {
        height: 258px;
        width: 209px;
        margin: 15px 0 5px 39px;
    }
}