@import "colors";
@import "defaults";
@import "header";
@import "footer";
@import "home";
@import "about";
@import "whatwedo";
@import "contact";

body { margin: 0; }

#app {
    font: $font;
    line-height: $line-height;
    color: $synvisus-purple;
    margin: 0;

    h3 { font: $h3-font; }
    h4 { font: $h4-font; }
    p { margin: 0; }

    #clear-div { clear: both; }

    #container {
        margin: 0 auto;
        width: $page-width;
        min-width: $page-width;
        padding: 0;

        #page-content {
            padding: 0;
            margin-top: $page-top-margin;
            width: 100%;
        }
    }
}