@import "colors";
@import "header";
@import "footer";
@import "home";
@import "about";
@import "whatwedo";
@import "contact";

body {
    margin: 0;
}

#app {
    font: 11pt 'Calibri', sans-serif;
    line-height: 1.428571429;
    color: $synvisus-purple;
    margin: 0;

    h3 {
        font: 18pt 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }

    h4 {
        font: 13.5pt 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }

    p {
        margin: 0;
    }

    #clear-div {
        clear: both;
    }

    #container {
        margin: 0 auto;
        width: 950px;
        min-width: 950px;
        padding: 0;

        #page-content {
            padding: 0;
            margin-top: 145px;
            width: 100%;
        }
    }
}